.popup{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 200px;
    background-color: aqua;
    height: 120px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    animation: showPopup 2s ease-in-out;
}
@keyframes showPopup{
    0%{
        right: -360px;
    }
    

    80%{
        right: 100px;
    }
    

    100%{
        right: 50px;
    }
}
.warning{
    background-color: red;
}
.sucess{
    background-color: green;
}