body{
    background-color: black;
    color: white;
    margin: 0;
    overflow-x: hidden;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
